.following-card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;

  .card-body img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .card-text {
    font-size: 1rem;
  }
}