// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card {
  margin-bottom: 20px;
}

.post-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
}

.form-inline {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .form-control {
    width: auto;
    max-width: 100%;
  }
}