<!-- app/views/admin/ingredients/index.html.erb -->
<h1>新材料提案管理画面</h1>
<p>ここではユーザーから提案された新しい材料を管理できます。</p>

<div class="container mt-5">
  <div class="row">
    <% @ingredients.each do |ingredient| %>
      <div class="col-md-4 mb-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><%= ingredient.name %></h5>
            <%= link_to '詳細', admin_ingredient_path(ingredient), class: 'btn btn-secondary' %>
            <%= link_to '編集', edit_admin_ingredient_path(ingredient), class: 'btn btn-secondary' %>
            <%= link_to '削除', admin_ingredient_path(ingredient), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>