<h1>ジャンル編集</h1>

<%= form_with(model: @genre, url: admin_genre_path(@genre), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "更新" %>
  </div>
<% end %>