<h1>新規ジャンル作成</h1>

<%= form_with(model: @genre, url: admin_genres_path) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "作成" %>
  </div>
<% end %>