// Import Bootstrap CSS
@import "~bootstrap/scss/bootstrap.scss";
@import "user/posts";
@import "user/users";
@import "user/homes";
@import 'user/followers';
@import 'user/following';

// Define color variables
$text-color: #333; // 濃いグレー

// Global styles
body {
  background-color: #ffffff; // 背景色を白に戻す
  color: $text-color;
}

// Header styles
header {
  z-index: 1030; /* ヘッダーを最前面に */
  position: fixed; /* ヘッダーを固定 */
  width: 100%;
  top: 0;
  background-color: #ffffff; /* ヘッダーの背景色を白に戻す */
  border-bottom: 1px solid #ddd; /* ヘッダーの下に境界線を追加 */
  color: $text-color; /* テキストの色 */

  .navbar-nav {
    flex-direction: row;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .navbar-toggler {
    margin-left: auto;
  }
}

// Sidebar styles
#sidebar-left, #sidebar-right {
  position: fixed;
  height: calc(100% - 56px); /* ヘッダーの高さ分を引いた高さ */
  overflow-y: auto;
  top: 56px; /* ヘッダーの高さ分 */
  background-color: #ffffff; /* サイドバーの背景色を白に戻す */
  color: $text-color;
}

#sidebar-left {
  width: 20%;
  left: 0;
  z-index: 1020; /* ヘッダーより後ろ */
}

#sidebar-right {
  width: 20%;
  right: 0;
  z-index: 1020; /* ヘッダーより後ろ */
}

// Main content styles
#main-content {
  margin-left: 20%;
  margin-right: 20%;
  height: calc(100vh - 56px); /* ヘッダーの高さ分を引いた高さ */
  padding-top: 56px; /* ヘッダーの高さ分のパディングを追加 */
  -ms-overflow-style: none;  /* IEとEdge用にスクロールバーを非表示 */
  scrollbar-width: none;  /* Firefox用にスクロールバーを非表示 */
  background-color: #ffffff; /* メインコンテンツの背景色を白に戻す */
  color: $text-color; /* テキストの色 */
}

#main-content::-webkit-scrollbar {
  display: none; /* Webkitブラウザ用にスクロールバーを非表示 */
}

// Card styles
.card {
  width: 100%; /* カードの幅を100%に設定 */
  max-width: 18rem; /* 最大幅を18remに設定 */
  margin: auto;
  background-color: #ffffff; /* カードの背景色を白に戻す */
  color: $text-color; /* テキストの色 */
}

// Other component styles
.table th, .table td {
  white-space: nowrap;
}

.table th {
  background-color: #ffffff; /* テーブルヘッダーの背景色を白に戻す */
}

.table td {
  background-color: #ffffff; /* テーブルセルの背景色を白に */
  color: $text-color; /* テキストの色 */
  vertical-align: middle;
}

.label {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #ffffff; /* ラベルの背景色を白に戻す */
  color: $text-color; /* テキストの色 */
  border-radius: 5px;
  font-size: 14px;
}

// Additional styles
.rounded-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.carousel-item {
  text-align: center;
}

.mt-lg-override {
  margin-top: 1rem !important;
}

.table-responsive {
  margin-bottom: 20px;
}

.tag-box {
  margin-top: 20px;
}