<div class="container mt-5">
  <h1 class="text-center mb-4">About</h1>
  <p class="text-center" style="font-size: 18px; line-height: 1.6;">
    献立のひらめき帳は、献立の簡易情報交換サイトです。<br>
    従来のレシピサイトから「調理方法」を取り除くことにより、レシピの登録・共有を簡易化させました！<br>
    また、マイページ機能により自分のためのレシピブックとしてもご利用できます！！
  </p>
  <div class="text-center mt-4">
    <img src="<%= asset_path('job_kyusyoku_chourishi.png') %>" alt="Job Kyusyoku Chourishi" class="img-fluid" style="max-width: 100%; height: auto;">
  </div>
</div>