<div class="container mt-5">
  <div class="row">
    <!-- サイドバー：ジャンル検索 -->
    <div class="col-md-3">
      <h3>ジャンル検索</h3>
      <ul class="list-group">
        <li class="list-group-item">主菜</li>
        <li class="list-group-item">副菜</li>
        <li class="list-group-item">汁</li>
        <li class="list-group-item">その他</li>
      </ul>
    </div>

    <!-- メインコンテンツ -->
    <div class="col-md-9">
      <!-- 給食画像とテキスト -->
      <div class="row">
        <div class="col-12 text-center">
          <%= image_tag 'top-kyusyoku.png', alt: 'LOGO', class: 'img-fluid', style: 'max-width: 50%;' %>
          <p class="mt-4">
            献立のひらめき帳へようこそ！<br>
            このサイトは、献立を考えるときの”ヒント”を共有するためのサイトです！<br>
            献立の核となる部分のみを登録・共有することで、日々の献立作業を円滑に進められます！<br>
            また、自分用のメモ帳としてもご使用になれます！！
          </p>
        </div>
      </div>

      <!-- 新着商品 -->
      <div class="row mt-4">
        <h3 class="col-12">新着メニュー</h3>
        <% @latest_posts.each do |post| %>
          <div class="col-md-3">
            <div class="card text-center">
              <% if post.image.attached? %>
                <%= image_tag post.image.variant(resize_to_fit: [100, 100]), class: "card-img-top mx-auto" %>
              <% end %>
              <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h5 class="card-title"><%= post.menu_title %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>