<div class="container mt-5">
  <div class="row">
    <!-- メインコンテンツ -->
    <div class="col-md-6" id="main-content">


      <!-- 新着メニュー -->
      <div class="mt-4">
        <h3>新着メニュー</h3>
        <div class="row">
          <% @latest_posts.each do |post| %>
            <div class="col-md-6 mb-4">
              <div class="card">
                <% if post.image.attached? %>
                  <%= image_tag post.image.variant(resize_to_fit: [150, 150]), class: "card-img-top" %>
                <% end %>
                <div class="card-body text-center">
                  <h5 class="card-title"><%= post.menu_title %></h5>
                  <%= link_to '詳細', post_path(post), class: 'btn btn-primary btn-sm' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>