<div class="row mb-2 nested-fields">
  <div class="col-sm-5">
    <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name, prompt: '材料を選択してください', class: 'form-control' %>
  </div>
  <div class="col-sm-5">
    <%= f.text_field :quantity, class: 'form-control', placeholder: '数量' %>
  </div>
  <div class="col-sm-2 align-self-end">
    <%= link_to '削除', '#', class: 'remove_fields btn btn-danger' %>
  </div>
</div>