<% provide(:title, 'レシピ編集') %>

<div class="container mt-5">
  <h2 class="text-center mb-4">レシピ編集</h2>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <%= render 'form', post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>