<% provide(:title, '新規レシピ投稿') %>

<div class="container mt-5">
  <h2 class="text-center mb-4">新規レシピ投稿</h2>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'image_preview', 'data-turbolinks-track': 'reload' %>