<div class="sticky-top">
  <% if user_signed_in? %>
    <h3>ユーザー情報</h3>
    <p>名前: <%= current_user.name %></p>
    <p>メール: <%= current_user.email %></p>
  <% else %>
    <h3>ゲストユーザー</h3>
  <% end %>
</div>